<div class="tab-content">
    <div class="tab-pane fade active in" id="tab_2_1">
        <div style="border:1px solid #cccccc;border-radius:5px;padding:7px;width:100%;height:45px;">
            <ul class="inline ClearFloat InfoBlock">
                @*<li>维修工区</li>
                    <li>
                        <select class="form-control" id="siteListSel"></select>
                    </li>
                    <li>
                        工区负责人
                    </li>
                    <li>
                        <select class="form-control" id="siteUserSel"></select>
                    </li>*@
                <li>商家名称</li>
                <li>
                    <input id="searchName" value="">
                </li>
                <li>
                    <a href="#" class="btn btn-sm dark" onclick="getInspectionPlanList()">&nbsp;&nbsp;检索&nbsp;&nbsp;<i class="fa fa-search"></i></a>
                    @*&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-sm default" id="reset">&nbsp;&nbsp;重置&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>*@
                </li>
            </ul>
        </div>
        <br />
        <table class="table table-striped table-hover table-condensed  table-responsive tableCenter" id="merchantTable"></table>
    </div>
</div>

<div class="clearfix">
</div>

<div class="modal fade" id="serviceMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-content-srewrite">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="menuTitle"></span> —— 菜单</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="accordion">
                    <div class="panel-heading">
                        <a class="btn btn-sm btn-primary fl-r" style="margin-top:-25px;" href="#serviceDetailModal" data-toggle="modal">添加菜品<i class="fa fa-plus ml5"></i> </a>
                    </div>
                </div>
                <div class="tab-content">
                    <table class="table table-striped table-hover table-condensed  table-responsive tableCenter" id="serviceMenuTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="serviceDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">菜品详情</h4>
                <input type="text" id="MerchantID" class="hidden">
            </div>
            <div class="modal-body">
                <br />
                <form id="serviceDetailForm">
                    <input type="text" id="ID" data-field="ID" class="form-control hidden">
                    <div class="row ">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    名称
                                    <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    <input type="text" id="Name" data-field="Name" name="Name" class="form-control" placeholder="请输入菜品名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    类别
                                    <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    <input type="text" id="Classify" data-field="Classify" name="Classify" class="form-control" placeholder="请输入菜品类别">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    价格
                                    <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    <input type="text" id="Price" data-field="Price" name="Price" class="form-control" placeholder="请输入菜品价格">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    描述
                                    <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    <input type="text" id="Description" data-field="Description" name="Description" class="form-control" placeholder="请输入菜品描述">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    图片
                                    <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    <div id="upDiv">
                                        <input type="text" id="filename" data-field="PicUrl" style="width:195px;display:inline-block;" class="form-control" placeholder="" />
                                        <a id="UpFile" href="javascript:" class="btn blue btn-sm">选择文件</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" id="saveServiceBtn" onclick="saveService()">保存</button>
                <button type="button" class="btn default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*<style>
        .modal.left .modal-dialog,
        .modal.right .modal-dialog {
            position: fixed;
            margin: auto;
            top: 50px;
            width: 480px;
            height: 100%;
            -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
            -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
        }

        .modal.left .modal-content,
        .modal.right .modal-content {
            height: 100%;
            overflow-y: auto;
        }

        .modal.left .modal-body,
        .modal.right .modal-body {
            padding: 15px 15px 80px;
        }

        /*Left*/
        .modal.left.fade .modal-dialog {
            left: -320px;
            -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
            -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
        }

        .modal.left.fade.in .modal-dialog {
            left: 0;
        }

        /*Right*/
        .modal.right.fade .modal-dialog {
            right: -320px;
            -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
            -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
        }

        .modal.right.fade.in .modal-dialog {
            right: 0;
        }

        /* ----- MODAL STYLE ----- */
        .modal-content {
            border-radius: 0;
            border: none;
        }

        .modal-header {
            border-bottom-color: #EEEEEE;
            background-color: #FAFAFA;
        }
    </style>*@

@section scripts{
    <script src="~/Resource/bootstrap/scripts/bigImg.js"></script>
    <script>
        Custom.MerchantService();
        var getInspectionPlanList = function () {
            var name = $('#searchName').val();
            var aoColumns = new Array();
            aoColumns.push({ "sTitle": "商家名称", "mData": "Name" });
            aoColumns.push({ "sTitle": "登记人", "mData": "Owner" });
            aoColumns.push({ "sTitle": "联系电话", "mData": "Phone" });
            aoColumns.push({ "sTitle": "地址", "mData": "Address" });
            aoColumns.push({
                "sTitle": "店招", "mData": "SignBoard", "mRender": function (data, type, full) {
                    return '<img src="' + data + '" width="100" height="100" for_big="true"/>';
                }
            });
            aoColumns.push({
                "sTitle": "营业执照", "mData": "Lisence", "mRender": function (data, type, full) {
                    return '<img src="' + data + '" width="100" height="100" for_big="true"/>';
                }
            });
            aoColumns.push({ "sTitle": "折扣", "mData": "Discount" });
            aoColumns.push({
                "sTitle": "操作", "mData": "ID", "bSortable": false, "sWidth": "280px", "sClass": "TdMargin",
                "mRender": function (data, type, full) {
                    var htmlText = '';
                    htmlText += '<a href="#serviceMenuModal"  data-toggle="modal" onclick="initServiceMenu(\'' + data + '\',\'' + full.Name + '\')">编辑</a>';
                    htmlText += '<a href="#serviceMenuModal"  data-toggle="modal" onclick="initServiceMenu(\'' + data + '\',\'' + full.Name + '\')">菜单</a>';
                    htmlText += '<a href="#serviceMenuModal"  data-toggle="modal" onclick="initServiceMenu(\'' + data + '\',\'' + full.Name + '\')">生成二维码</a>';
                    return htmlText;
                }
            });
            oTable = AjaxDataTable('merchantTable', '/merchant/getmerchantlist?name=' + name, aoColumns);
        };
        getInspectionPlanList();
        var sTable;
        var initServiceMenu = function (ID, name) {
            $('#MerchantID').val(ID);
            $('#menuTitle').text(name);
            var aoColumns = new Array();
            aoColumns.push({ "sTitle": "菜名", "mData": "Name" });
            aoColumns.push({ "sTitle": "类别", "mData": "Classify" });
            aoColumns.push({
                "sTitle": "图片", "mData": "PicUrl", "mRender": function (data, type, full) {
                    return '<img src="' + data + '" width="100" height="100" for_big="true"/>';
                }
            });
            aoColumns.push({ "sTitle": "描述", "mData": "Description" });
            aoColumns.push({ "sTitle": "价格", "mData": "Price" });
            aoColumns.push({
                "sTitle": "操作", "mData": "ID", "bSortable": false, "sWidth": "280px", "sClass": "TdMargin",
                "mRender": function (data, type, full) {
                    var htmlText = '';
                    htmlText += "<a href='#serviceDetailModal' data-toggle='modal' onclick='editService(" + JSON.stringify(full) + ")'>编辑</a>";
                    return htmlText;
                }
            });
            sTable = AjaxDataTable('serviceMenuTable', '/merchant/getmerchantservicelist?merchantID=' + ID, aoColumns);
        }

        var editService = function (data) {
            modelFormInit('#serviceDetailForm', data);
        }

        var saveService = function () {
            if ($("#serviceDetailForm").validate().form()) {
                if (true) {
                    $("#saveServiceBtn").attr("disabled");
                    var model = $.parseJSON(getFormJson("serviceDetailForm").replace(/\n/g, "\\n").replace(/\r/g, "\\r"));
                    $.post("/merchant/savemerchantservice", model, function (data) {
                        alert((model.ID ? "编辑" : "添加") + data ? "成功" : "失败")
                        $("#saveServiceBtn").removeAttr("disabled");
                        if (data) {
                            $('#serviceDetailModal').modal('hide');
                            sTable.fnDraw(false);
                        }
                    });
                }
            }
        }


    </script>
}